.App {
  font-family: sans-serif;
  background-color: #E7E7E7;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  /* background-color:#E7E7E7; */
}

.main-box {
  background-color: #E7E7E7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
}

.box {
  margin-bottom: 20px;
}

.select-class {
  width: 70%;
  padding: 8px;
  margin-right: 10%;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
}

.row {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 370px;
}

.add-button {
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 92%;
}

.graphPanda {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.option {
  height: 100px;
  font-size: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  width: 60%;
}

.card-header {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}

.modal-container {
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
}

.modal-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.input {
  height: 40px;
  border: 2px solid gray;
  margin-bottom: 10px;
  padding: 0 10px;
}

.chart-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0.5 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  min-width: 270px;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 230px;
  max-width: 100%;
  align-items: center;

}

.react-grid-item,
.chart-card+.react-draggable+.cssTransforms+.react-resizable {
  left: 0 !important;
  margin-left: 0 !important;
}

.select-container {
  display: flex;
  flex-direction: column;
}

.label-black {
  margin-right: auto;
  color: white;
  font-weight: bold;
  padding-right: 10px;
}

.label-container {
  align-items: center;
  margin-bottom: 5px;
  align-items: baseline;
}

.source-icon {
  width: 24px;
  margin-bottom: -5px;
  height: 24px;
  cursor: pointer;
  margin-right: 10px;
}
.tick-icon{
  width: 18px;
    margin-bottom: -5px;
    height: 15px;
    cursor: pointer;
    margin-right: 10px;
}
.edit-icon:hover {
  content: url('./assets/editRed.png');
}

.delete-icon:hover {
  content: url('./assets/deleteRed.png');
}
.main-source-icon {
  width: 24px;
  margin-bottom: -5px;
  height: 24px;
  margin-right: 10px;
  color: white;

}

.select-heading {
  font-weight: bold;
  margin-bottom: 5px;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
}

.option-button {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  margin-bottom: 10px;
}

.option-button.selected {
  border-color: #EE5566;
}

.reorder-button {
  background-color: #E7E7E7;
  color: black;
  width: 190px;
  border: 2px solid black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.reorder-button.active {
  background-color: #EE5566;
  color: white;
  border: 2px solid #EE5566;
}

.reorder-icon {
  width: 20px;
  height: 20px;
}

.reorder-icon.icon-active {
  filter: invert(1);
}

.dash {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-right {
  display: flex;
  gap: 10px;
}

.modal-button-container {
  display: flex;
  gap: 10px;
}

.generate-button {
  background-color: #EE5566;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.cancel {
  background-color: rgb(216, 210, 210);
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.select-heading {
  font-weight: bold;
}

.refresh-btn {
  height: 34px !important;
  width: 56px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E7E7E7;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.refresh-btn:hover {  
  background-color: #d3d0d0;
}
.refresh-btn.active {
  background-color: red;
}

.refresh-p {
  position: absolute;
  font-size: 10px;
  margin-left: 21px;
  margin-top: 12px;
}

.refresh-p.text-active {
  color: white;
}

.refresh-icon {
  height: 100% !important;
  width: 100% !important;
  transition: filter 0.3s;
}

.refresh-icon.icon-active {
  filter: invert(1);
}
.popup {
  position: absolute;
  top: 50px;
  /* Adjust as needed */
  left: 85%;
  /* Adjust as needed */
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px;
}

.popup-option {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.popup-option:hover {
  background-color: #f0f0f0;
}